.encode-sans-expanded-thin {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 100;
    font-style: normal;
}

.encode-sans-expanded-extralight {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 200;
    font-style: normal;
}

.encode-sans-expanded-light {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 300;
    font-style: normal;
}

.encode-sans-expanded-regular {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 400;
    font-style: normal;
}

.encode-sans-expanded-medium {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 500;
    font-style: normal;
}

.encode-sans-expanded-semibold {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 600;
    font-style: normal;
}

.encode-sans-expanded-bold {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 700;
    font-style: normal;
}

.encode-sans-expanded-extrabold {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 800;
    font-style: normal;
}

.encode-sans-expanded-black {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 900;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Start Custom Styles*/

.cover-preview{
    max-height: 500px;
    border-radius: 8px;
}

/*End Custom Styles*/